.projects {
  position: relative;
  display: flex;
  justify-content: center;

  height: 100vh;
  // background-color: rgba(162, 191, 247,0.30);
}

.projectsTextBoxContainer {
  position: absolute;
  display: flex;
  justify-content: center;

  height: 75%;
  width: 93%;
  // background-color: rgba(255, 255, 255, 0.15);
}

.projectsTextBox {
  position: absolute;
  height: 80%;
  left: 9%;
  margin-top: 8%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 20%;
  margin: 5px;
  text-align: left;

  overflow: wrap;
}

.flex-container a:hover {
  color: white;
  cursor: auto;
}

.flex-container a {
  font-weight: 400;
}

.flex-container .square,
.j,
.m,
.q {
  position: relative;
  width: 98%;
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .flex-container > div {
    // background-color: rgb(255, 194, 232);
    width: 40%;
    margin: 3px;
  }
  .projectsTextBox {
    margin-top: 16%;
  }
}

@media only screen and (max-width: 600px) {
  .flex-container > div {
    // background-color: rgb(255, 194, 232);
    width: 40%;
    margin: 3px;
  }
  .projectsTextBox {
    margin-top: 16%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .flex-container > div {
    // background-color: rgb(255, 194, 232);
    width: 40%;
    margin: 3px;
  }
  .projectsTextBox {
    margin-top: 8%;
  }
}
