.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  // background-color: pink;
}

.homeArtwok {
  position: absolute;
  height: 40vh;
  // background-color: aqua;
  width: 60vw;
}

.homeTitles {
  position: absolute;
  height: 40vh;
  // background-color: red;
  width: 70vw;
  top: 40%;
}

.name {
  position: absolute;
  display: flex;

}

.role {
  position: absolute;
  display: flex;
  top: 30%;


}

.square {
  position: absolute;
  opacity: 0;
}

.r {
  position: absolute;
  opacity: 0;
}
