.container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  // background-image: url("background.jpg");
}

.homeArtwok {
  position: absolute;
  left: 15%;
  height: 50vh;
  top: 0%;
  
}
.collage1 {
  position: relative;
  height: 110%;
  top:2%
}

.collage2 {
  position: relative;
  height: 120%;
  top: 56%;
}
.collage3 {
  position: relative;
  height: 110%;
  top:2%
}

.homeTitles {
  position: absolute;
  height: 40vh;
  width: 70vw;
  top: 60%;
}

.name {
  position: absolute;
  display: flex;

}

.role {
  position: absolute;
  display: flex;
  top: 30%;


}

// //ipad
// @media only screen and (min-width: 769px) and (max-width: 992px) {
//   .collage2 {
//     height: 213%;
// }
// }

//ipad
@media only screen and (min-width: 415px) and (max-width: 768px) {
  .homeArtwok {
    height: 20vh;
  }

  .collage1 {
    height: 144%;  
  }
  .collage2 {
    height: 211%;
}
.collage3 {

  top: 100%;
}
  .homeTitles {

    top: 45.7%;
  }
  .role {
   
    top: 18%;
}

}

//bigger phones
@media only screen and (min-width: 0px) and (max-width: 414px) {
  .homeTitles {
    width: 80vw;
    top: 47%;
  }

  .role {
    top: 18%;
  }
  .homeArtwok {
    height: 25vh;
    left: 10%
  }

  .collage1 {
    height: 115%;  
    top: 0%;
  }
  .collage2 {
    height: 182%;
    top: -119%;
}
.collage3 {
    height: 110%;
  top: 72%;
  left: 35%;
}
 

}


