.container {
  position: absolute;
  height: 10%;
  width: 60%;
  left: 7%;
  top: 7%;

}

.name {
  position: absolute;
  top: 7%;
  left: 13%;

}

.title {
  position: absolute;
  top: 55%;
  left: 13%;

}
