.story {
  position: relative;
  display: flex;
  justify-content: center;
  top: 100%;
  height: 100vh;
  // background-color: rgba(162, 191, 247, 0.3);
  background-color: rgba(28, 239, 247, 0.925);
}

.backgroundCollageBlue{
  width: 100%;
}

.storyTextBoxContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 10%;
  height: 80%;
  width: 80%;
  background-color: rgba(243, 242, 242, 0.945);
}

.storyTextBox {
  position: absolute;
  height: 80%;
  width: 90%;
  margin-top: 5%;
}
.email {
  position: absolute;
  height: 15px;
  margin-top: 5px;
}

@media only screen and (min-width: 414px) and (max-width: 768px) {

  .backgroundCollageBlue{
    object-fit: cover;
  }
}

@media only screen and (min-width: 371px) and (max-width: 413px) {
  .email {
    height: 9px;
    margin-top: 4px;
  }
  .backgroundCollageBlue{
    object-fit: cover;
  }
}

