.cube {
      position: relative;
      display: flex;

      height: 100vh;
      background-color: rgba(162, 191, 247,0.30)
    }

    .cubeTextBoxContainer {
      position: absolute;
        display: flex;
        justify-content: center;
      top:10%;
      height: 80%;
      width: 50%;
      margin-left: 10%;
      background-color: rgba(243, 242, 242, 0.945);

    }

.cubeTextBox {

    position: absolute;
    height: 80%;
    width: 90%;
    margin-top: 5%;



}

//small phones
@media only screen and (max-width: 600px) {
  .cubeTextBoxContainer {

      width: 75%;


  }

}
