input + label {
  position: fixed;
  top: 5%;
  right: 5%;
  height: 40px;
  width: 35px;
  z-index: 5;

  span {
    position: absolute;
    width: 100%;
    height: 4px;
    top: 70%;
    margin-top: -1px;
    left: 0;
    display: block;
    background-color: rgb(28, 239, 247);
    transition: 0.5s;
  }

  span:first-child {
    top: 6px;
  }

  span:last-child {
    top: 17px;
  }
}

label:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

input:checked + label {
  span {
    opacity: 0;
    top: 50%;
  }

  span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }

  span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
}

input ~ nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;

  > ul {
    position: absolute;
    width: 385px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.3;
    margin: 0;
    top: 11%;
    left: 20%;
    list-style-type: none;

    > li {
      opacity: 0;
      transition: 0.5s;
      transition-delay: 0s;

      > a {
        padding: 8px;
        text-decoration: none;
        font-size: 4rem;
        color: rgb(28, 239, 247);
      }
    }
  }
}

input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;

  > ul {
    > li {
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
}

a:hover,
.overlay a:focus {
  color: white;
  text-decoration: line-through;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.menu {
  position: absolute;
  position: fixed;
  right: 5%;
  top: 6.5%;
  z-index: 2;
}

//small phones
@media only screen and (max-width: 600px) {
  input + label span {
    height: 2px;
    width: 19px;
    top: 29%;
  }
  input + label {
    right: 0%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 371px) {
  .menu p {
    top: 6%;
    right: 2%;
    font-size: 0.5rem;
  }
}

@media only screen and (min-width: 372px) and (max-width: 599px) {
  .menu {
    top: 6%;
    right: 2%;
    font-size: 0.5rem;
  }
}
