.logos {
    position: relative;
    display: flex;
    justify-content: center;
    top: 100%;
    height: 100vh;
  }

.logosTextBoxContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  top:15%;
  height: 60%;
  width: 80%;
  background-color: rgba(28, 239, 247, 0.925);
}

.logosTextBox{
  position: absolute;
  height: 80%;
  width: 90%;
  margin-top: 7%;
}

.logos-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.logos-flex-container > div {
  width: 100px;
  margin: 15px;
  text-align: center;
  line-height: 75px;
}

.the-logos {
  height: 50px;
}

.contactBox {
  position: absolute;
  height: 15%;
  width: 100%;
  top:80%;
  display: flex;
  background-color: black;

}

.contactTextBox {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 5%;
    left: 0;
    height: 100%;
    width: 100%;
}

 .contactBox h1 {
  color: white;
  font-size: 2rem;
}

//phones
@media only screen and (max-width: 415px) {

  .logos-flex-container > div {
    width: 45px;
    margin: 4px;
    line-height: 20px;
  }

  .the-logos {
    height: 20px;
  }

  .contactBox h1 {
    font-size: 0.8rem;
  }

  .logosTextBoxContainer {
    height: 34%;
  }

  .quoteTextBox {
    height: 31%;
    top: 31%;
}

}

@media only screen and (min-width: 416px) and (max-width: 767px) {

.quoteTextBox {
  top: 14%;
}
}