@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
body {

  margin: 0;
background-color: rgba(162, 191, 247, 0.65);
}

h1 {
  color: white;
  font-size: 4rem;
font-family: 'Montserrat', sans-serif;
letter-spacing: 1px;
}

h2 {
  color: white;
  font-size: 2.2rem;
 font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;


}

h3 {
    color: white;
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;

}
p, h4, ul {
  color: white;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;

}

p {
  font-weight: 700;
}


a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ul {

  list-style-type: circle;

}

// small phones
@media only screen and (max-width: 370px) {
  h1  {
    font-size: 1.6rem;
  }

  h2, h3 {
    font-size: 0.85rem;
  }


  p, h4 {
    font-size: 0.55rem;
    font-weight: 400;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 371px) and (max-width: 413px)  {
  h1  {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.05rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.1rem;
  }

  p, h4 {
    font-size: 0.65rem;
    font-weight: 600;
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
  h1  {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 1.3;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.75rem;
    font-weight: 600;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  h1  {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;

  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;

  }
}

// @media only screen and (min-width: 992px)and (max-width: 1199px)  {
//   h1  {
//     font-size: 3rem;
//   }
//
//   h2 {
//     font-size: 1.5rem;
//
//   }
//
//   h3 {
//     font-size: 1.5rem;
//   }
//
//   p {
//     font-size: 1rem;
//
//   }
// }
