@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
body {
  margin: 0;
  background-color: rgba(162, 191, 247, 0.65); }

h1 {
  color: white;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px; }

h2 {
  color: white;
  font-size: 2.2rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; }

h3 {
  color: white;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0; }

p, h4, ul {
  color: white;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: white;
  cursor: pointer; }

ul {
  list-style-type: circle; }
